<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:component-scan base-package="cn.yelriv"/>
    <bean name="testService" class="cn.yelriv.services.TestService">
        <property name="testDao" ref="testDao"/>
    </bean>
    <bean name="testDao" class="cn.yelriv.dao.TestDao"/>
    <bean name="testEntity" class="cn.yelriv.entity.TestEntity">
        <property name="account" value="1234213423"/>
        <property name="name" value="1234213423"/>
        <property name="password" value="1234213423"/>
    </bean>
</beans>